*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'FuenteMadeAweiler';
    src: url(fonts/MADEAwelierLight.otf);
}
@font-face{
    font-family: 'FuenteAweilerMedium';
    src: url(fonts/MADEAwelierPERSONALUSE-Medium.otf);
}

html{
    background-color: rgb(255, 234, 251);
    font-family: 'FuenteMadeAweiler';
    font-size: 1.125rem;
    margin: 0;
}

body{
    margin: 0rem;
}

img{
    width: 100%;
}

/* de aca para abajo comienza la barra de navegación  */

header{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 3.75rem;
    min-width: auto;
}

.logo{
    display: flex;
    margin-left: 3.125rem;
    color: #c76565;
    margin: .625rem;
    margin-right: .625rem;
    align-items: center ;
}

.linklogo{
    transition: ease-in .2s;
    color: rgb(190, 62, 62);
    
}

.linklogo:hover {
    transform: scale(1.05);
}

.logo h1{
    font-size: 1.875rem;
    text-decoration: none;
}

.linklogo{
    text-decoration: none;
}

.logo img{
    height:  3.125rem;
    border-radius: 50%;
    margin-right: .625rem;
}

.nav{
    display: flex;
    padding: .9375rem;
    align-items: center;
}

.nav a{
    color: #020101;
    padding: .625rem;
    text-decoration: none;
    font-size: 1.25rem;
}

.nav a:hover{
    transition: ease-in .2s;
    color: rgb(190, 62, 62);
}

.nav a:hover {
    transform: scale(1.1);
}

.nav .sesion{
    color: white;
    background-color: rgb(138, 43, 226);
    border-radius: .9375rem;
}

.nav .sesion:hover{
    transition: ease-in .2s;
    color: rgb(19, 11, 11);
    background-color: rgb(148, 86, 149);
}

.nav .sesion :hover {
    transform: scale(1.1);
}

/* RESPONSIVE */

@media(max-width: 50rem){
    header{
        flex-direction: column; 
    }
}
@media(max-width:34.375rem){
    .nav{
        flex-direction: column;
        margin-top: -2.1875rem;
    }
    h2, h4{
        text-align: center;
    }
    .nav a{
        margin-top: -10px;
    }
    .logo{
        margin-top: -10px;
    }
    footer .logofooter{
        margin-left: 1.25rem;
    }
}

/* TITULOS DE LA PÁGINA */

.tituloproductos{
    display: grid;
    place-items: center;
}

.tituloproductos .hdos{
    margin-top: 1.5625rem;
}

.tituloproductos .segundohdos{
    margin-top: -0.9375rem;
}

.tituloproductos h2{
    font-size: 2.5rem;
}

.tituloproductos h4{
    margin-top: -0.625rem;
    color: rgb(194, 62, 83);
    font-size: 1.5625rem;
}

/* en este espacio comineza el css de las tarjetas */

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}


.cards .tarjetas{
    background-color: rgba(255, 255, 255, 0.808);
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 1.25rem;
    box-shadow: .0625rem .0625rem .3125rem 5PX rgb(207, 205, 205);
}

.cards .tarjetas .contenido img{
    width: 80%;
    margin-top: .9375rem;
}
.cards a{
    text-decoration: none;
    transition: background 0.2s linear;
}

.nombretorta{
    color: #020101;
    font-size: 1.875rem;
    margin-left: 7%;
    margin-right: 7%;
}

.precio{
    color: rgb(221, 63, 90);
    font-size: 1.25rem;
    margin-top: -0.3125rem;
}

.porciones{
    color: rgb(0, 0, 0);
    margin-top: -15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cards a:hover{
    background: rgb(226, 221, 221);
    transition: background 2s linear;
}

footer{
    background-color: rgb(43, 43,43);
}

.logofooter{
    display: flex;
    align-items: center;
    min-height: 3.75rem;
    min-width: auto;
    text-decoration: none;
    margin-left: 150px;
}

.logofooter img{
    width: 50px;
}

.logofooter h1{
    font-size: 1.875rem;
    color: rgb(194, 62, 83);
}

.siguenos{
    display: flex;
    flex-direction:row ;
    min-height: 3.75rem;
    min-width: auto;
    padding-left: 150px;
}

.siguenos img{
    width: 50px
}

.contactanos img {
    width: 50px;
}

footer .siguenos .h3siguenos{
    padding-top: -150px;
}


